.pos .pos-payment-container {
    display: inline-block;
    font-size: 16px;
    text-align: left;
    width: 360px;
}
.pos .payment-due-total {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin: 27px;
    text-shadow: 0px 2px rgb(202, 202, 202);
}
.pos .paymentline.selected {
    background: rgb(220,220,220);
}
.pos .paymentline-name {
    margin-bottom: 8px;
}
.pos .paymentline {
    position: relative;
    padding: 8px;
    border-box: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    bottom: 20px;
}
.pos .paymentline > * {
    padding: 0px 5px;
}
.pos .paymentline-input {
    font-size: 20px;
    font-family: Lato;
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    padding: 6px 8px;
    background: white;
    color: #484848;
    text-align: right;
    border-radius: 3px;
    box-shadow: 0px 2px rgba(143, 143, 143, 0.3) inset;
}
.paymentline-delete {
    width: 32px;
    height: 32px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    left: 8px;
    cursor: pointer;
}

.pos .popup input, .pos .popup-input {
    text-align: right;
    display: inline-block;
    overflow: hidden;
    background: white;
    min-height: 44px;
    font-family: "Lato";
    font-size: 20px;
    color: #444;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220,220,220) inset;
    box-sizing: border-box;
    width: 80%;
}
.pos .order ul.discount {
    width: 100%;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
}
ul .product-name {
    padding: 0;
    display: inline-block;
    font-weight: bold;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.price {
    padding: 0;
    font-weight: bold;
    float: right;
}
.line .subentry{
    text-align: right !important;
}
.summary .grand_total{
    font-size: 24px;
}
.untax_amount span{
    font-size: 20px;
}
.line .discount {
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}