.b_button_close{
    float: right;
    margin-right: 100px;
    width: 100px;
    height: 50px;
}
.b_workorder_name{
    float: left;
    margin-left: 100px;
    text-align: center;
}
.b_material {
    text-align: center;
}
.b_form_barcode_weighing{
    width: 40%;
}
.b_button_done{
    text-align: center;
    margin-top: 50px;
    width: 40%;
}
.b_barcode_input{
    margin-top: 50px;
    height: 50px;
    width: 600px;
}
.b_weighing_input{
    margin-top: 30px;
    height: 50px;
    width: 600px;
}
.b_material_qty{
    margin-left: 10px;
}
.js_barcode_weighing_done{
    height: 70px;
    width: 150px;
}
.b_table_product_info{
    margin-top: 40px;
    width: 50%;
}