.pos .pos-topheader {
    
    background: #c7202a !important;
}
.all_disconnected {
	color: #FFFFFF !important;
}
.pos .oe_status .oe_red, .pos .oe_icon.oe_red {
	color: #FFFFFF !important;
}
.pos .oe_statu .oe_green, .pos .oe_icon.oe_green {
    color: #FFFFFF !important;
}
.pos .pos-rightheader .header-button {
	color: #FFFFFF !important;
}
.printer_name {
	background: #c7202a !important;
	color: #FFFFFF !important;
}
.printer_disconnected {
    color: #FFFFFF !important;
}
.pos .order-button {
	background: #900000 !important;
	color: #FFFFFF !important;
}
.pos .pos-rightheader > * {
    border-right: 1px solid #c7202a !important;
}
.pos .pos-rightheader .header-button:last-child {
    border-left: 1px solid #c7202a !important;
}

.pos .order-button.selected {
	background:  #FFFFFF !important;
	color: #000000 !important;

}

.pos .order-button.floor-button{
	background:  #6EC89B !important;
        padding: 4px 9px !important;

}
.pos .pos-branding{

	border-right: #c7202a !important;
}
.pos .pos-logo {
    
        margin-left: 0px !important;
}
.pos .pos-rightheader {
    left: 416px !important;
}
.pos .pos-logo {
    height: 48px;

}    
@media only screen and (max-width: 1920px) {


.pos .order-button { 
	min-width: 98px; 
} 
.pos .pos-rightheader { 
	left: 31% !important; 
} 
.pos .order-button.floor-button { 
	padding: 0px 16px !important; 
} 
.pos .pos-branding { 
	width: 32%; 
}

}
@media only screen and (max-width: 1600px){
	
.pos .pos-branding {

	width:32%;

}

.pos .pos-rightheader{
left:31% !important;
}

.pos .order-button.floor-button { 
padding: 0px 16px !important; 
} 
.pos .order-button {
min-width: 10%;
}
 }



@media only screen and (max-width: 1370px){

.pos .pos-branding {

        width:33%;

}

.pos .pos-rightheader{
left:32% !important;
}

.pos .order-button.floor-button { 
padding: 0px 6px !important;
} 
.pos .order-button {
min-width: 8.5%;
}
 }


@media only screen and (max-width: 1280px){
.pos .order-button {
min-width: 8%;
}

}
