#tabs li.ui-state-default, #tabs li.ui-widget-content .ui-state-default, #tabs li.ui-widget-header .ui-state-default {
	background: #f6f6f6 !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0% !important;
    box-shadow: none !important;
}
#tabs li.ui-state-active, #tabs li.ui-widget-content .ui-state-active, #tabs li.ui-widget-header .ui-state-active {
	background: #007fff !important;
}
