/* Onscreen Keyboard http://net.tutsplus.com/tutorials/javascript-ajax/creating-a-keyboard-with-css-and-jquery/ */

.order-submit{
   background-color:  #6EC89B !important
}
.cancel-orderline-button-red{
   background-color:  #b23232 !important;
    
}
.order_invisible{
   display: none;
}
