.total-bef-rounding{
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}
.rounding{
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}
.total{
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}
.total .label {
    font-size: 16px;
    color: unset;
}
.total .value {
    font-size: 16px;
}