.pos .leftpanes{
       width: 45% !important;
}

.pos .rightpanes{
    left: 45% !important;
}

.pos .rightpane{

    left:50%;
}

.pos .leftpane{
     width:25%;
}

.pos .product .price-tag{
        padding: 1px 34px !important;
}

.pos .order{
    max-width: 840px !important;
}

#all_orders{
        margin-right: 14px !important;
}
span#all_orders{
        width: 371px !important;
}

.pos .actionpad .button.pay{
    height: 159px !important;
}
.pos .actionpad .button{
    height: 65px !important;
}

.pos .numpad button{
    height: 56px !important;
}

.session_info{
    display: none;
}

#inline{width:100%;height:auto;display:flex;}
.one,.two{width:50%;margin:10px;}

.pos .actionpad {
    display: inline-block;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    margin-top: 16px !important;
    margin-left: -5px;
    margin-right: 0px !important;
    text-align: center;
    vertical-align: top;
    width: 180px !important;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #bfbfbf;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pos .numpad {
    display: inline-block;
    float: right;
    text-align: center;
    /*width: 216px !important;*/
    margin: 16px !important;
    margin-top: 16px !important;
    margin-left: 0px !important;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-color: #bfbfbf;
    border-top-right-radius: 4px;
}

.pos .rightpane{

    left:50%;
}

.pos .leftpane{
     width:25%;
}

.btn.btn-fill{
    color:white;
    background-color:#929292;

}
.pos .control-button.btn{
    line-height:68px;

}
.pos .product {
    height: 90px;
    width: 90px;
}

.pos .pos-branding .username{

    margin-right: 98px !important;
}
.order-selector {
    margin-left: -93px !important;
}

.pos .centerpane {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    position:absolute;
    left:25%;
    width:25%;
    top:0px;
    bottom:0;
    border-right: solid 1px #CECBCB;
    border-right: solid 3px #787878;
    background: #e2e2e2;
}


.pos .centerpane .pads {
    border-top: solid 3px rgb(110, 200, 155);
}
.pos .control-button.btn {
    line-height: 32px !important;
}
.pos .actionpad .button.pay {
    height: 151px;
}
.pos .actionpad .button {
    height: 50px;
}
.pos .actionpad{
    width: 39%!important;
}
.pos .centerpane .numpad{
    width:50%!important;
}
.pos .centerpane .input-button {
    font-size: 14px !important;
}
.pos .centerpane .numpad button{
    width: 39px !important;
    height: 50px !important;
}
.pos .centerpane .mode-button {
    font-size: 11px!important;
}

.pos .session_infos {
    text-align: left;
    width: 100%;
    font-size: 12px;
    color: white;
    line-height: 48px;
}

.pos .pos-rightheader {
        left: 800px !important;
}
.pos .pos-branding{
        left: 20px !important;
        width: 775px !important;
}


.pos .order .orderline .product-name{
    color: #6EC89B !important;
    display: inline !important;
}

.left {
  float: left;
  width: 20% !important;
  text-align: right;
  margin: 2px 10px;
  display: inline;
}

.right {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline;
}

.pos .priority{
    display: none;
}
.pos .cancel{
    display: none;
}
.pos .Need-to-confirm{
    display: none;
}

.content {
width: 980px;
height: auto;
padding: 20 20 20 20;
/*background-color: #00fcff,*/
 }

.package_update {
width: 680;
height: 500;
float: left;
/*background-color: #aaaaaa*/ }

.previous_update {
width: 280;
height: 500;
float: right;
/*background-color: #ffcc00*/ }

.pos li{
    float: right;
}


.customer_name{
    text-align: left;
    font-size: 14px;
    color: white;
    line-height: 48px;
}
