.check_box_tag {
    position: absolute;
    top: -16px;
    right: 84px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    padding: 0px 5px;
    border-radius: 2px;
    width: 43px;
}
.ac_product_list {
    overflow: scroll;
    height: 373px;
    border-top: 2px solid #6EC89B;
}
#product_qty_cs{
    padding:2px !important;
    min-height:1px !important;
    width:47% !important;
    font-size: 1.2em !important;
}
.product_qty_title {
    font-size: 16px;
    border-bottom: solid 3px rgb(110, 200, 155) !important;
}