.event_background{
    border-radius: 40px;
    margin-top: 7px;
    cursor:pointer;
}
.time_booked{
	background: red;
}
.time_s{
	padding: 4px 0px;
	text-align:center;
    border: 1px solid rgba(51, 51, 51, 0.58);
    border-radius: 4px;
    margin:5px;
}
