.pos .salesorderlist-screen .salesorder-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .salesorderlist-screen .salesorder-list th,
.pos .salesorderlist-screen .salesorder-list td {
    padding: 0px 8px;
}
.pos .salesorderlist-screen .salesorder-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .salesorderlist-screen .salesorder-list thead > tr,
.pos .salesorderlist-screen .salesorder-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .salesorderlist-screen .salesorder-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .salesorderlist-screen .salesorder-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .salesorderlist-screen .salesorder-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .salesorderlist-screen .client-details{
    padding: 16px;
    border-bottom: solid 5px rgb(110,200,155);
}
.pos .salesorderlist-screen .client-picture{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 16px;
    background: white;
    position: relative;
}
.pos .salesorderlist-screen .client-picture > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    max-height: 64px;
    margin: auto;
}
.pos .salesorderlist-screen .client-picture > .fa {
    line-height: 64px;
    font-size: 32px;
}
.pos .salesorderlist-screen .client-picture .image-uploader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.pos .salesorderlist-screen .client-name {
    font-size: 32px;
    line-height: 64px;
    margin-bottom:16px;
}
.pos .salesorderlist-screen .edit-buttons {
    position: absolute;
    right: 16px;
    top: 10px;
}
.pos .salesorderlist-screen .edit-buttons .button{
    display: inline-block;
    margin-left: 16px;
    color: rgb(128,128,128);
    cursor: pointer;
    font-size: 36px;
}
.pos .salesorderlist-screen .client-details-box{
    position: relative;
    font-size: 16px;
}
.pos .salesorderlist-screen .client-details-left{
    width: 50%;
    float: left;
}
.pos .salesorderlist-screen .client-details-right{
    width: 50%;
    float: right;
}
.pos .salesorderlist-screen .client-detail{
    line-height: 24px;
}
.pos .salesorderlist-screen .client-detail > .label{
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
}
.pos .salesorderlist-screen .client-details input,
.pos .salesorderlist-screen .client-details select
{
    padding: 4px;
    border-radius: 3px;
    border: solid 1px #cecbcb;
    margin-bottom: 4px;
    background: white;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    width: 340px;
    font-size: 14px;
    box-sizing: border-box;
}
.pos .salesorderlist-screen .client-details input.client-name {
    font-size: 24px;
    line-height: 24px;
    margin: 18px 6px;
    width: 340px;
}
.pos .salesorderlist-screen .client-detail > .empty{
    opacity: 0.3;
}
.pos .salesorderlist-screen .searchbox{
    right: auto;
    margin-left: -90px;
    margin-top:8px;
    left: 50%;
}
.pos .salesorderlist-screen .searchbox input{
    width: 120px;
}
.pos .salesorderlist-screen .button.new-customer {
    left: 50%;
    margin-left: 120px;
}
.popup-option.once{
    margin-top: 90px;
    margin-left: 150px;
}
.custom_footer{
    background-color: #383535 !important;
}
.custom_footer .button{
    background-color: black !important;
    color: white;
    float: left !important;
    margin-left: 10px;
}